@mixin transition($transition...) {
	-moz-transition:	$transition;
	-o-transition:	 $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}
@mixin transition-property($property...) {
	-moz-transition-property:    $property;
	-o-transition-property:      $property;
	-webkit-transition-property: $property;
	transition-property:         $property;
}
@mixin transition-duration($duration...) {
	-moz-transition-property:    $duration;
	-o-transition-property:      $duration;
	-webkit-transition-property: $duration;
	transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
	-moz-transition-timing-function:    $timing;
	-o-transition-timing-function:      $timing;
	-webkit-transition-timing-function: $timing;
	transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
	-moz-transition-delay:    $delay;
	-o-transition-delay:      $delay;
	-webkit-transition-delay: $delay;
	transition-delay:         $delay;
}
@mixin filter($f...) {
	-webkit-filter:      $f;
	filter: $f;
}

@font-face {
    font-family: 'gohufontuni-14';
    src: url('gohufont-uni-14.woff2') format('woff2'),
         url('gohufont-uni-14.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {box-sizing:border-box;}

.hidden {display:none}

html {
	cursor: default;
	scroll-behavior: smooth;
}

body {
	width:100%;
	height:100%;
	overflow-x:hidden;

	background:linear-gradient(130deg, black, #622);
	background-attachment: fixed;
	color:white;
	font:21px 'gohufontuni-14',monospace;
	font-weight:bold;
	text-shadow:3px 0px 1px black;
}

body, html, header, footer {
	padding:0;
	margin:0;
}

header, footer, header *, footer * {
	z-index:100;
}

header, footer {
	position:fixed;
}

header {
	top:0px;
	left:0px;
	width:100%;
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	align-items:center;
	font-size:100%;
	padding:1rem 0px;
	background:linear-gradient(to right, transparent 25%, rgba(0, 0, 0, 0.5) 50%, transparent 75%);
}

header * {
	vertical-align: middle;
}

header a {
	color:white;
	margin:0 0.5em;
}

header a:hover, header > nav > a.active {
	//color:white;
}

header a.active {
	border-bottom:2px solid white;
	//box-shadow:0 -7px 0 -5px white inset;
}

footer {
	opacity:0.18;
	left:4px;
	bottom:4px;
	white-space:nowrap;
	overflow:hidden;
}

main {
	width:100%;
	height:100%;
	position:absolute;
}

a, a:active, a:focus {
	color:red*0.9;
	text-decoration:none;
}
a:hover {color:red;text-decoration:none;}

h1 {
	margin:0;
	margin-top:-6rem;
	padding-bottom:3rem;
	font-size:200%;
	text-shadow:0px 0px 0.5em rgba(255, 0, 0, 0.4), 6px 0px 1px black;
	letter-spacing:0.2em;
}

h1::after {
	content:" ";
	display:block;
	width:8em;
	height:0.1em;
	margin:0 auto;
	background:linear-gradient(to top, transparent, red);
}

h2 {
	font-size:133.33%;
	text-shadow:4px 0px 1px black;
	margin-bottom:0.5em;
}

h2::after {
	content:" ";
	display:block;
	width:8em;
	height:0.1em;
	margin:0 auto;
	background:linear-gradient(to top, transparent, red);
}

h1, h2 {
	text-align: center;
}

section {
	width:100%;
	height:100%;
	margin:0 auto;
	padding:1rem 32rem;

	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

p {
	white-space: pre-line;
	max-width:50em;
	margin:0 auto;
	padding:0.5em 0;
	background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.team {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.team > div {
	text-align:center;
	display:flex;
	flex-direction: column;
	width:12rem;
	padding:1rem;
}

.team > div > *:first-child {
	width:9rem;
	height:9rem;
	background:rgba(0, 0, 0, 0.5);
	border:1px solid white;
	border-right-width:2px;
	align-self:center;
	overflow:hidden;
	box-shadow:0.25rem 0px red, -0.25rem 0px black, 0px 0px 1rem black;
}

.team > div > *:first-child img {
	width:100%;
	@include filter(contrast(1.33));
}

.team > div > *:nth-child(2) {
	font-size:133.33%;
	font-weight: bold;
	padding:0.25em 0;
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
}

.team > div > *:last-child {
	white-space:pre-line;
}

.contentsplit {
	display:flex;
	justify-content: center;
	align-items:center;
	flex-wrap:wrap;
}

.contentsplit > * {
	flex-basis:50%;
}

.contentsplit > *:first-child {
	margin-right:1rem;
	text-align:right;
}

.contentsplit > *:last-child {
	margin-left:1rem;
	text-align:left;
}

.contentsplit > img {
	border-radius:2rem;

}

.contentsplit > img:first-child {
	box-shadow:0.5rem 0px 0px red, 0px 0px 2rem black;
	border-radius:2rem 0px 0px 2rem;
}

.contentsplit > img:last-child {
	box-shadow:-0.5rem 0px 0px red, 0px 0px 2rem black;
	border-radius:0px 2rem 2rem 0px;
}

.contentsplit > p:first-child {
	background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
	padding-right:0.5em;
}

.contentsplit > p:last-child {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
	padding-left:0.5em;
}

.contentsplit > *:not(p) {
	max-width:40%;
}

.bullet {
	display: inline-block;
	width:0.5em;
	height: 0.5em;
	vertical-align: middle;
	background:currentColor;
	border-radius:50%;
	box-shadow:0.1em 0px red;
}

#logo {
	height:3rem;
	position:fixed;
	left:1rem;
	top:2rem;
}

.copy {
	transform:rotate(90deg);
	transform-origin: left;
	position: relative;
	top:-3.5em;
	left:-3em;
	height:8em;
}

#partners img {
	min-height:3rem;
	max-height:4rem;
}

::-webkit-scrollbar {
	width:8px;
	height:8px;
}

::-webkit-scrollbar-track {
	background:#050505;
}

body .scrollbar-inner>.scroll-element .scroll-element_track, body ::-webkit-scrollbar-track {
	background:transparent;
}

.scrollbar-inner>.scroll-element .scroll-bar, ::-webkit-scrollbar-thumb {
	//border-radius:10px;
	background:white*0.9;
	//box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.5);
}

.scrollbar-inner>.scroll-element .scroll-bar:hover, ::-webkit-scrollbar-thumb:hover {
	background:white*0.95;
}

.scrollbar-inner>.scroll-element .scroll-bar:active, ::-webkit-scrollbar-thumb:active {
	background:white;
}

::-webkit-scrollbar-button:start, ::-webkit-scrollbar-button:end {
	display:none;
}

@media only screen and (max-width: 1600px) {
	main > section {
		padding:0.5rem 14rem;
	}
}

@media only screen and (max-width: 1100px) {
	main > section {
		padding:1rem 10rem;
	}
}

@media only screen and (max-width: 900px) {
	main {
		padding:0 1rem;
	}

	body {
		font-size:14px;
		text-shadow:2px 0px 1px black;
	}
}

@media only screen and (max-width: 720px) {
	main {
		padding:0 1rem;
	}

	main > section {
		padding:0.5rem 7rem;
	}
}

@media only screen and (max-width: 590px) {
	.contentsplit > p {
		background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent)!important;
		text-align:left!important;
	}

	.contentsplit > * {
		flex-basis:100%;
	}

	.contentsplit > *:not(p) {
		max-width:100%!important;
		border-radius:0.5rem!important;
		box-shadow:0px 0px 0px transparent!important;
	}
}

@media only screen and (max-width: 480px) {
	main > section {
		padding:0.25rem 5rem;
	}
}

.pixel_desk {
	position:relative;
	width:10.1vw;
	height:5.5vw;
	margin:1vw 0;
	background-image:url(/static/img/pixel_desk.png);
	background-size:cover;
	@include filter(drop-shadow(0px 0px 1vw rgba(255, 0, 0, 0.4)));
}

.pixel_desk > * {
	position: absolute;
	bottom:79%;
	width:3vw;
	height:3.25vw;
	background-size:cover;
	animation:0.5s headbob alternate linear infinite;
	animation-timing-function: ease;
}

.pixel_desk > *:first-child {
	left:10%;
	background-image:url(/static/img/stream/head1.png);
}

.pixel_desk > *:last-child {
	right:10%;
	background-image:url(/static/img/stream/head2.png);
	animation-delay: 0.25s;
}

@keyframes headbob {
	0% {
		bottom:79%;
	}
	49% {
		bottom:79%;
	}
	50% {
		bottom:75%;
	}
	100% {
		bottom:75%;
	}
}
